@font-face {
  font-family: Gilroy-ExtraBold sans-serif;
  src: url('../../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: Gilroy-Light sans-serif;
  src: url('../../fonts/Gilroy-Light.otf');
}