.mainBlock {
background-color: black;
  &__infoBox1 {
    margin: 3% auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  &__news {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__newsbox {
    width: 60%;
    border: 5px solid #343A40;
    padding: 3%;
    h1 {
      color: white;
    }
    p {
      color: white;
      background-color: #343A40;
      margin-top: 2%;
    } 
    a{
      color: white;
    }
    a:hover {
      color: white;
    }
    hr {
      border-color: #343A40;
    }
  }

  &__meet {
    width: 35%;
    border: 5px solid #343A40;
    padding: 3%;
    h1 {
      color: white;
    }
    p {
      color: white;
      background-color: #343A40;
      margin-top: 2%;
    } 
    a{
      color: white;
    }
    a:hover {
      color: white;
    }
    hr {
      border-color: #343A40;
    }
  }

  &__why {
    width: 70%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
  }

  &__why1 {
    text-align: center;
    color: white;
    margin-bottom: 2%;
  }

  &__why2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .p2:hover {
    color: white;
  }

  &__whybox {
    text-align: center;
    h1 {
      color: white;
    }
    p {
      color: white;
    }
  }

  &__com {
    width: 70%;
    background-color: #343A40;
    margin: 0 auto;
    color: white;
  }
}