mixin mainBlock(modifier)
 .mainBlock&attributes(attributes)
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/pic1.jpg" class="d-block w-100" alt="pic1">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/pic2.jpg" class="d-block w-100" alt="pic2">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/pic3.jpg" class="d-block w-100" alt="pic3">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    .mainBlock__infoBox1
     <div class="card bg-dark text-light rounded-0" style="width: 18rem;">
       <img src="img/host.png" class="card-img-top rounded-0" alt="...">
       <div class="card-body">
         <h5 class="card-title">Хостинг и серверы</h5>
         <p class="card-text">Надёжный классический и VIP хостинг, VPS с SSD+HDD и SSD носителями, Dedicated. Домены в подарок.</p>
         <a href="#" class="btn btn-success">Подробнее</a>
       </div>
     </div>
     <div class="card bg-dark text-light rounded-0" style="width: 18rem;">
       <img src="img/ssl.png" class="card-img-top rounded-0" alt="...">
       <div class="card-body">
         <h5 class="card-title">SSL-сертификаты</h5>
         <p class="card-text">Гарантия статуса сайта и безопасности передаваемых данных. Незаменимо для e-commerce.</p>
         <a href="#" class="btn btn-success">Подробнее</a>
       </div>
     </div>
     <div class="card bg-dark text-light rounded-0" style="width: 18rem;">
       <img src="img/seo.png" class="card-img-top rounded-0" alt="...">
       <div class="card-body">
         <h5 class="card-title">Автоматическое SEO-продвижение</h5>
         <p class="card-text">Управление ав­то­ма­ти­зи­ро­ван­ным про­дви­же­ни­ем в поисковых системах.</p>
         <a href="#" class="btn btn-success">Подробнее</a>
       </div>
     </div>
    .mainBlock__news
     .mainBlock__newsbox
       h1 Новости
       p 13 июня 2019 г.
       a(href="") Скидка 50% на услугу «Администрирование сервера»
       hr
       a(href="") Сэкономьте до 42% на SSL-сертификате до 20 июня
       p 11 июня 2019 г.
       a(href="") Только до 14 июня: домены .RU, .РФ, .SU, .МОСКВА и .MOSCOW от 177 рублей
       p 10 июня 2019 г.
       a(href="") Бесплатное скрытие персональных данных при регистрации международных доменов
     .mainBlock__meet
       h1 Мероприятия
       p 19 июня, Москва
       a(href="") Скидка на участие в конференции Social Media Moscow
       p 21–22 июня, Москва
       a(href="") DevConf — конференция для профессиональных веб-разработчиков
    .mainBlock__why
     .mainBlock__why1
       h1 Почему мы? Это просто
     .mainBlock__why2
       .mainBlock__whybox
           h1 №1
           .p2 регистратор и хостинг-провайдер в России
       .mainBlock__whybox
           h1 34
           .p2 оказанных услуг
           p млн
       .mainBlock__whybox
           h1 3
           .p2 доменов на обслуживании
           p млн
       .mainBlock__whybox
           h1 1.9
           .p2 более 1.9 млн клиентов
           p млн
       .mainBlock__whybox
           h1 24/7
           .p2 профессиональная поддержка
    .mainBlock__com
     h1 Отзывы клиентов
     p Доброго дня! Меня зовут Виталий, я веб-мастер. Стаж работы 6 лет. У меня около 30 активных сайтов на разных хостингах. REG.RU самый лучший из всех, которые я знаю. По всем показателям. Это проверено временем. Поэтому все новые проекты я делаю уже тут. А также участвую в партнёрской программе. От души благодарю всю команду за Вашу замечательную, компетентную и достойную работу!

 