mixin head(title) 
  head 
    meta(charset="UTF-8") 
    meta(http-equiv="X-UA-Compatible", content="IE=Edge") 
    title= title 
    link(rel='stylesheet', href='css/style.css?version=1') 
    script(type="text/javascript" src="//code.jquery.com/jquery-3.3.1.js") 
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js") 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>