@import 'mixins'; 


/* Plugins */ 
body {
  margin: 0;
  font-family: Gilroy-Light sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: .5s ease-in-out;
}

/* Global styles */ 

@import './src/blocks/header/header';

@import './src/blocks/mainBlock/mainBlock';