mixin header(modifier)
 .header&attributes(attributes)
   .header__nav
     .header__navTop
       img(src="img/logo.png") 
       <div class="input-group w-50">
         <input type="text" class="form-control" placeholder="Введите домен или слово" aria-describedby="button-addon2">
         <div class="input-group-append">
           <button class="btn btn-outline-secondary" type="button" id="button-addon2">Подобрать</button>
         </div>
       </div>
       ul.nav.nav-pills
         li.nav-item
           a.nav-link(href="") Регистрация
         <div class="input-group-append">
           <button class="btn btn-outline-secondary" type="button" id="button-addon2">Войти</button>
         </div>
     .header__navBot
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 d-flex justify-content-end">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Action</a>
               <a class="dropdown-item" href="#">Another action</a>
               <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">Something else here</a>
             </div>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">Домены</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">Конструктор и CMS</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">Хостинг</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">VPS</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">Серверы и ДЦ</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">SSL</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="#">Сервисы</a>
           </li>
         </ul>
       </div>
     </nav>