.header {
 width: 100%;
 display: flex;
 justify-content: space-around;
 background-color: black;
 margin: 0;

 &__whyPart{
   display: flex;
   width: 70%;
   
 }

 &__nav {
   width: 100%;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }

 &__navTop {
   width: 70%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 1.5%;
   margin-bottom: 1%;
   img {
     zoom: 0.2;
   }
 }

 &__navBot {
   display: flex;
   flex-direction: row;
   width: 100%;
   $zindex-dropdown: 2;
 }

 a {
   color: white;
 }

}


